* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir', sans-serif;
}

body {
  cursor: url('./cursor.png'), auto;
  font-size: 0.8vw;
}

button {
  outline: none;
}

button:disabled{
  outline: none;
}

button:hover {
  cursor: pointer;
}
