* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3vw;
}

.dice {
  font-size: 10vw;
}

.waiting-room {
  display: flex;
  flex-direction: row;
}

.waiting-log {
  border: 1px solid gray;
  min-width: 300px;
  min-height: 300px;
  border-bottom: 2px solid gray;
  border-right: 2px solid grey;
  margin: 20px;
  padding: 20px;
}